/* * {
  outline:solid;
} */

body {
  justify-content: center;
  color: rgba(181, 175, 175, 0.87);
}

.settings-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 31, 32, 0.9);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center; 
}


form {
  z-index: 2;
  background-color: #000000;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

label{
  font-size: 10px;
}


input {
  background-color: #3a3838;
  border: none;
  color: white;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 3px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:active, input:focus {
   border: transparent;
   outline: none;
}

.update-btn {
  color: white;
  background-color: #5e9c89;
}

.update-btn:hover {
  color: white;
  background-color: #4d8574;
}

.update-btn:disabled {
  color: rgb(94, 94, 94);
  background-color: #232f2c;
}


.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.timer-increment-btn {
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.timer-mode-btn {
  background-color: transparent;
  font-size: 12px;
}

.timer-mode-btn[data-active="true"] {
  background-color: rgb(24, 23, 23);
  color: white;
}

.settings-btn {
  background-color: transparent;
  margin-left:auto;
}

.settings-btn svg:hover {
  color: white;
  transition: 0.2s ease;
}

.progress-container {
  background-color: rgb(61, 59, 59);
  width: 90%;
  border-radius: 10px;
  height: 4px;
}

.progress-container .progress-bar {
  background-color: rgb(205, 208, 210);
  width: 0%;
  height: 4px;
  border-radius: 10px;
  transition: 0.5s ease;
}

.settings-btn:hover {
  background-color: transparent;
  margin-left: auto;
}

.timer-increment-btn:hover {
  background-color: transparent;
  transition: .05s;
}




.timer-increment-btn:active {
  background-color: transparent;
  color: white;
  transition: .01s;
}

.timer-control-btn {
  font-size: 13px;
}

.timer-control-btn:active {
  color: white;
  transition: 0s;
}

button:hover {
  background-color: #0c1115;
  transition: .5s;
}

h1 {
  text-align: center;
  color: white;
  font-size: 7em;
  margin: 0px;
}