/* * {
  outline:solid;
} */

body {
  justify-content: center;
  color: rgba(181, 175, 175, 0.87);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.timer-increment-btn {
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.timer-mode-btn {
  background-color: transparent;
  font-size: 14px;
}

.settings-btn {
  background-color: transparent;
  margin-left:auto;
}

.settings-btn svg:hover {
  color: white;
  transition: 0.2s ease;
}

.progress-container {
  background-color: rgb(61, 59, 59);
  width: 90%;
  border-radius: 10px;
  height: 4px;
}

.progress-container .progress-bar {
  background-color: rgb(205, 208, 210);
  width: 100%;
  height: 4px;
  border-radius: 10px;
}

.settings-btn:hover {
  background-color: transparent;
  margin-left: auto;
}

.timer-increment-btn:hover {
  background-color: transparent;
  transition: .05s;
}




.timer-increment-btn:active {
  background-color: transparent;
  color: white;
  transition: .01s;
}

.timer-control-btn {
  font-size: 13px;
}

.timer-control-btn:active {
  color: white;
  transition: 0s;
}

button:hover {
  background-color: #0c1115;
  transition: .5s;
}

h1 {
  text-align: center;
  color: white;
  font-size: 130px;
  margin: 0px;
}